/** similar to app.css .container **/
.user-guide-container {
    position: relative;
    top: 70px;
    margin-left: 1%;
    margin-right: 5%;
    max-width: 95%;
}
.user-guide {
}
nav {
    padding: 5px 0px 5px 0px;
}
#sidebar .lead {
    font-family: Georgia;
    text-shadow: -1px 1px 1px gray;
}
#sidebar .initialism {
    font-family: Arial;
    font-size: small; 
    color: hsl(0, 0%, 30%);
}
#sidebar #navbar ul {
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 5px;
    box-shadow: -1px 1px 5px hsl(0, 5%, 90%);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: hsl(0, 0%, 98%);
}
#sidebar #navbar ul li {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    padding: 3px;
}
#sidebar #navbar a {
    text-decoration: none;
    font-weight: bold;
    color: hsl(205, 30%, 50%);
    font-family: Arial;
    padding: 5px;
}
#sidebar #navbar li:hover {
    background-color: hsl(0, 0%, 90%);
}
#article {
    padding: 5px 0px 5px 0px;
    font-family: Arial;
    height: 100%;
}
#article .card-header h2 {
    color: hsl(0, 0%, 30%);
    font-family: Arial;
}
#article p {
    font-family: Georgia;
}
#article p.subtitle {
    font-family: Verdana;
}
.user-guide hr {
    margin: 30px 0px 30px 0px;
    visibility: hidden;
}
.card-header {
    font-family: Arial;
}
.card.parent {
    margin: 50px 0px 50px 0px;
}
.card.nested {
    margin: 10px 0px 10px 0px;
}
.card.parent .card-header {
    vertical-align: bottom;
    background-color: hsl(80, 20%, 98%);
}
.card.parent .card-body {
    background-color: hsl(0, 0%, 95%);
}
.card.nested .card-header {
    background-color: hsl(210, 30%, 95%);
}
.card.nested .card-body {
    background-color: hsl(0, 0%, 95%);
}
.notes {
    font-family: Arial;
}
.nested_arrow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hoverable {
    text-decoration: none;
}
.hoverable:hover {
    text-decoration: underline;
}
.entity {
    font-size: large;
    position: relative;
}
.table {
    font-family: "Courier New";
    font-size: 90%;
    width: auto;
    display: block;
    overflow: scroll;
}
.table.wide {
    width: 100%;
    display: block;
    overflow: auto;
}
#introduction .table th {
    background-color: var(--bs-white);
}
#article th {
    background-color: hsl(0, 0%, 97%);
}
.table th {
    font-family: Arial;
}
.table.fixed {
    table-layout: fixed;
}
/** does not work perfectly for macromolecules sample sequence first table **/
@media(max-width: 800px){
    .table {
        position: inherit;
        width: 100%;
        display: block;
        overflow: scroll;
    }
}
