.user-guide-container {
    margin-left: 1%;
    margin-right: 5%;
    max-width: 95%;
}
.user-guide-container nav {
    padding: 5px 0px 5px 0px;
}

#sidebar .lead {
    font-family: Georgia;
    text-shadow: -1px 1px 1px gray;
}
#sidebar .initialism {
    font-family: Arial;
    font-size: small; 
    color: hsl(0, 0%, 30%);
}
#sidebar #navbar ul {
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 5px;
    box-shadow: -1px 1px 5px hsl(0, 5%, 90%);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: hsl(0, 0%, 98%);
}
#sidebar #navbar ul li {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    padding: 3px;
}
#sidebar #navbar a {
    text-decoration: none;
    font-weight: bold;
    color: hsl(205, 30%, 50%);
    font-family: Arial;
    padding: 5px;
}
#sidebar #navbar li:hover {
    background-color: hsl(0, 0%, 90%);
}

#article {
    font-family: Arial;
}
#article .card-header {
    font-family: Arial;
}
#article .card-header h2 {
    color: hsl(0, 0%, 30%);
    font-family: Arial;
}
#article p {
    font-family: Georgia;
}
#article p.subtitle {
    font-family: Verdana;
}
#article hr {
    margin: 30px 0px 30px 0px;
    visibility: hidden;
}
#article .card.parent {
    margin: 0px 0px 50px 0px;
}
#article .card.parent .card-header {
    vertical-align: bottom;
    background-color: hsl(80, 20%, 98%);
}
#article .card.parent .card-body {
    background-color: hsl(0, 0%, 95%);
}
#article .card.nested {
    margin: 10px 0px 10px 0px;
}
#article .card.nested .card-header {
    background-color: hsl(210, 30%, 95%);
}
#article .card.nested .card-body {
    background-color: hsl(0, 0%, 95%);
}
#article .notes {
    font-family: Arial;
}
#article .nested_arrow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#article .hoverable {
    text-decoration: none;
}
#article .hoverable:hover {
    text-decoration: underline;
}
#article .entity {
    font-size: large;
    position: relative;
}
#article .table {
    font-family: "Courier New";
    font-size: 90%;
    width: auto;
    display: block;
    overflow: scroll;
}
#article .table.wide {
    width: 100%;
    display: block;
    overflow: auto;
}
#article .table th {
    font-family: Arial;
    background-color: hsl(0, 0%, 97%);
}
#article #introduction .table th {
    background-color: var(--bs-white);
}
#article .table.fixed {
    table-layout: fixed;
}

#sidebutton {
    position: fixed;
    z-index: 100;
    left: 0px;
    display: none;
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
    color: hsl(0, 0%, 80%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#sidebutton.left {
    border: none;
    background-color: transparent;
}
#sidebutton.right {
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 99%);
}
#sidebutton:hover {
    color: gray;
    border: 1px solid hsl(0, 0%, 40%);
    background-color: hsl(60, 90%, 99%);
}

/* horizontal responsive layout */
/* min-width attribute duplicated in javascript - if change here then must change there */
@media(min-width: 800px){
    #sidebar {
        position: fixed;
        left: 50px;
        width: 20%;
        height: 100%;
        overflow: scroll;
    }
    #article {
        position: absolute;
        right: 50px;
        left: 30%;
        width: 60%;
    }
    #sidebutton {
        display: block;
    }
}

/* narrow article when toggle sidebutton right to left */
/* duplicates the attributes above ... if change them then must also change the following */
#sidebar.narrow {
    display: block;
    opacity: 100%;
    position: fixed;
    left: 50px;
    width: 20%;
    height: 100%;
    overflow: scroll;
    transition: opacity 1s ease 0.1s, left 0s linear 0s;
}
#article.narrow {
    position: absolute;
    right: 50px;
    left: 30%;
    width: 60%;
}

/* vertical responsive layout (full width article with sidebar above it) */
@media(max-width: 799px){
    #sidebar {
        display: block;
        position: static;
        width: 100%;
    }
    #article {
        display: block;
        position: static;
        width: 100%;
        margin-top: 50px !important;
    }
    #article .table {
        position: inherit;
        width: 100%;
        display: block;
        overflow: scroll;
    }
    #sidebutton {
        display: none;
    }
}

/* full width article (no sidebar) when toggle side button left to right */
/* duplicates the above for article - if the above are changed, must change the following */
#sidebar.fullscreen {
    /*display: none;*/
    left: -1000px;
    opacity: 0%;
    transition: opacity 1s ease 0.1s, left 1s linear 1s;
}
#article.fullscreen {
    display: block;
    position: static;
    width: 95%;
    margin-top: 50px !important;
    margin-left: auto;
    margin-right: 0px;
    padding-right: 0px;
    border: 0px;
    transition: width 1s ease 0.1s;
}
#article.fullscreen .table {
    position: inherit;
    width: 100%;
    display: block;
    overflow: scroll;
}
