#user-guide-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 93vh;
    margin: 0px 30px;
}
#user-guide-container nav {
    padding: 5px 0px 5px 0px;
}

#sidebar {
    padding: 10px 10px 0px 0px;
    width: 20vw;
    overflow-y: scroll;
}
#sidebar .lead {
    font-family: Georgia;
    text-shadow: -1px 1px 1px gray;
}
#sidebar .initialism {
    font-family: Arial;
    font-size: small;
    color: hsl(0, 0%, 30%);
    padding: 5px;
    background-color: hsl(0, 0%, 97%);
    border-radius: 5px;
    margin-bottom: 5px;
}
#sidebar #navbar ul {
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 5px;
    box-shadow: -1px 1px 5px hsl(0, 5%, 90%);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: hsl(0, 0%, 98%);
}
#sidebar #navbar ul li {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    padding: 3px;
}
#sidebar #navbar a {
    text-decoration: none;
    font-weight: bold;
    color: hsl(205, 30%, 50%);
    font-family: Arial;
    padding: 5px;
}
#sidebar #navbar li:hover {
    background-color: hsl(0, 0%, 93%);
}

#article {
    position: relative;
    height: 100%;
    width: 80vw;
    overflow: scroll;
    box-sizing: initial;
    font-family: Arial;
    padding: 10px 0px 0px 10px;
}
#article .card-header {
    font-family: Arial;
}
#article .card-header h2 {
    color: hsl(0, 0%, 30%);
    font-family: Arial;
}
#article p {
    font-family: Georgia;
}
#article p.subheading {
    font-family: Verdana;
    font-size: 1.2rem;
}
#article hr {
    margin: 30px 0px 30px 0px;
    visibility: hidden;
}
#article .card.parent {
    margin: 0px 0px 50px 0px;
}
#article .card.parent .card-header {
    vertical-align: bottom;
    background-color: hsl(80, 20%, 98%);
}
#article .card.parent .card-body {
    background-color: hsl(0, 0%, 95%);
}
#article .card.nested {
    margin: 10px 0px 10px 0px;
}
#article .card.nested .card-header {
    background-color: hsl(210, 30%, 95%);
}
#article .card.nested .card-body {
    background-color: hsl(0, 0%, 95%);
}
#article .notes {
    font-family: Arial;
}
#article .hoverable {
    text-decoration: none;
}
#article .hoverable:hover {
    text-decoration: underline;
}
#article .table {
    font-family: "Courier New";
    font-size: 90%;
    position: relative;
    width: auto;
    display: block;
    overflow: auto;
}
#article .table th {
    font-family: Arial;
    background-color: hsl(0, 0%, 97%);
}
#article #introduction .table th {
    background-color: var(--bs-white);
}
#article var {
    font-family: "Courier New";
}

/* vertical responsive layout (full width article with sidebar above it) */
@media(max-width: 799px){
    #user-guide-container {
        flex-wrap: wrap;
    }
    #sidebar {
        display: block;
        position: static;
        width: 100vw;
        overflow-y: auto;
        padding: 20px 0px 0px;
    }
    #article {
        display: block;
        overflow: visible;
        padding: 0px;
        width: 100vw;
    }
    #article .table {
        position: inherit;
        width: 100%;
        display: block;
        overflow: auto;
    }
}

#revision {
    background-color: #f5f5f5;
    margin: 10px 0px 20px;
}

