
/* File: app.css
   Date: 22-Sep-2013  jdw

  Updates:
     23-Sep-2013 jdw  - chemical component/bird reference dict styles
                        download buttons -
     3-May-2024 james smith - new bs5 app.css to separate css for menu from other content 
                            - this file should just apply to shared outer items (wrapper, header, and footer)
                            - css for header has been moved to page_header_bs.css
                            - css for containers should be here (should restrict to one container for header, one for document, and one for footer)
                            - styling for documents has been removed ... documents should have their own css files
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
/*  margin: 0 auto -60px; */
  margin: 0  2%  -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
  max-width: 95%;
  margin-left: 20px;
  margin-right: 20px;
  width: 95%;  !important
}

@media (min-width: 1400px)
.container {
    width: 95%;  !important
}

@media (min-width: 1200px)
.container {
    width: 95%;  !important
}

.navbar .container {
  max-width: 95%;
  width: 95%;  !important
}

/* Set the fixed height of the footer here */
#page-footer {
  height: 60px;
  background-color: #f5f5f5;
  max-width: 100%;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #page-footer {
    top: 100%;
    /*margin-left: -20px;*/
    margin-right: -20px;
    /*padding-left: 20px;*/
    padding-right: 20px;
  }
}

/*#page-footer > .container{
  max-width: 95%;
  width: 95%;  !important
}*/

.container .credit {
  margin: 20px 0;
}
