/* File: app.css
   Date: 22-Sep-2013  jdw

  Updates:
     23-Sep-2013 jdw  - chemical component/bird reference dict styles
                        download buttons -
     3-May-2024 james smith - new bs5 app.css to separate css for menu from other content 
                            - this file should just apply to shared outer items (wrapper, header, and footer)
                            - css for header has been moved to page_header_bs.css
                            - css for containers should be here (should restrict to one container for header, one for document, and one for footer)
                            - styling for documents has been removed ... documents should have their own css files
     16-Apr-2025 james smith - flex layout
                             - remove css for pages other than user-guide
-------------------------------------------------- */

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
}

#wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#page-footer {
  background-color: #f5f5f5;
}
