/* author James Smith
   this file applies to the page header and footer, along with app.css
*/

div.fixed-top {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
}
div.fixed-top .my-navbar-brand:hover {
    color: hsl(210, 40%, 40%);
    text-decoration: underline;
}
div.fixed-top .navbar-toggler {
    position: absolute;
    right: 0px;
}
div.fixed-top ul.navbar-nav li {
    padding-right: 15px;
    font-size: .85rem;
}
div.fixed-top ul.navbar-nav li a:hover {
    color: white;
}
div.fixed-top ul.dropdown-menu li {
  line-height: 1.4;
  font-size: .85rem;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.fixed-top ul.dropdown-menu li a:hover {
    background-color: hsl(210, 55%, 55%);
    color: white;
}
div.fixed-top ul.dropdown-menu .dropdown-header {
    color: #999;
    font-size: .75rem;
    padding-top: 0px;
    padding-bottom: 0px;
}
div.fixed-top .flex-d {
    display: flex;
    align-items: center;
    padding-right: 50px;
}
div.fixed-top .flex-item {
    padding-left: 5px;
    padding-right: 5px;
}
div.fixed-top .pull-right {
    margin-left: auto;
}
div.fixed-top form .form-group input {
    height: 33px;
    font-family: Arial;
    font-size: .9rem;
}
div.fixed-top form .form-group input::placeholder {
    color: hsl(0, 0%, 70%);
}
div.fixed-top form button {
    height: 35px;
}
div.fixed-top form svg {
    height: 13px;
    position: relative;
    top: -3px;
}
